{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "exclude": ["src/routes", "src/index.ts", "src/migration", "coverage", "src/services", "src/entity", "src/logging", "src/config", "src/tests", "*.js"]
}
